.main {
  display: flex;
  justify-content: center;
  background-color: #b2d8ff;
  padding: 1rem 2rem;
  width: 60%;
  margin: 1rem auto;
}

.header {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    .link {
      font-size: 1.5rem;
      padding: 0.3rem;
      background-color: #007efd;
      transition: background-color 0.1s;
      &.active,
      &:hover {
        background-color: #003f7e;
      }
      a {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  .logo {
    width: 40px;
    height: 40px;

    .image {
      fill: #4040bf;
      width: 100%;
      height: auto;
      &:hover {
        fill: #2d2d86;
      }
    }
  }
}
