.main {
  display: flex;
  justify-content: center;
  background-color: #b2d8ff;
  padding: 1rem 2rem;
  width: 60%;
  margin: 1rem auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .logo {
    width: 30px;
    height: 30px;
    .link {
      display: block;
      .image {
        fill: #4040bf;
        width: 100%;
        height: auto;
        &:hover {
          fill: #2d2d86;
        }
      }
    }
  }

}
