.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #72b9ff;
}

.container{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .timer{
    line-height: 2rem;
  }
}
.title {
  text-align: center;
  &::first-letter {
    text-transform: capitalize;
  }
}
