.button{
  color: white;
  text-decoration: none;
  display: grid;
  place-items: center;
  padding: .3rem .5rem;
  border-radius: 1rem;
  background-color: #007efd;
  transition: background-color 0.1s;
  &:hover {
    background-color: #0066cc;
  }
}